.form {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
    .form {
        padding: 2rem;
        flex-direction: row;
        align-items: unset;
    }
  }

.form .email {
  font-family: "Roboto", sans-serif;
  padding: 0;
  border: 1px solid #dadada;
  height: 48px;
  box-sizing: border-box;
  width: 100%;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 1rem;
  -webkit-appearance: none;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
    .form .email {
      font-size: 1rem;
      margin-right: 1rem;
      margin-bottom: 0;
      width: 60%;
    }
  }

.form .submit {
  padding: 0;
  background-color: #d9bc6c;
  height: 48px;
  border: 0;
  width: 100%;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  -webkit-appearance: none;
}

@media (min-width: 576px) {
  .form .submit {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 40%;
  }
}
