.form {
    padding: 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.form .email {
    font-family: 'Roboto', sans-serif;    
    padding: 0;
    border: 1px solid #DADADA;
    height: 48px;
    box-sizing: border-box;
    width: 60%;
    margin-right: 1rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, .8);
    padding-left: 1rem;
}

.form .submit {
    padding: 0;
    background-color: #D9BC6C;
    height: 48px;
    border: 0;
    width: 40%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}