.reviews {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfd;
}

@media (min-width: 768px) {
  .reviews {
    padding: 32px 64px;
  }
}

@media (min-width: 992px) {
  .reviews {
    padding: 64px 128px;
  }
}

.titleWrapper {
  text-align: center;
}

.title {
  margin-bottom: 16px;
  color: #463853;
  font-size: 1.4rem;
}

.subtitle {
  color: #998da0;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 16px;
}

.reviewsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 48px;
  margin: 16px 0;
}

@media (min-width: 768px) {
  .reviewsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.reviewCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 24px;
}

.reviewBody {
  color: #998da0;
  font-size: 1.6rem;
}

.reviewFooter {
  display: flex;
  padding: 16px;
}

.reviewAuthor {
  color: #5d5d5d;
  font-size: 1.2rem;
}
