.scroll-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
}

.scroll-icon {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  animation: MoveUpDown 2s ease infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 12px;
  }
  100% {
    bottom: 0;
  }
}

.scroll-text {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.hidden {
    display: none;
}