.image-card-2 {
    background-color: #F5F5F5;
    min-height: 600px;
}

.image-card-2 .image-card-2-content {
    padding: 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.image-card-2 .image-card-2-content .text-container {
    max-width: 340px;
}

.image-card-2 .image-card-2-content .text-container .h2{
    text-transform: uppercase;
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.image-card-2 .image-card-2-content .text-container .p{
    margin: 0;
    line-height: 1.6;
}