.image {
  display: none;
}

@media (min-width: 576px) {
  .image {
    position: absolute;
    right: 0;
    width: 40%;
    object-fit: cover;
    width: 50%;
    top: 1600px;
    display: block;
  }
}
