.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.video-overlay .p {
  margin: 0;
  font-size: 1rem;
  padding: 1rem;
}

@media (min-width: 576px) {
  .video-overlay .p {
    font-size: 1.4rem;
  }
}

.video-overlay .play-icon {
  height: 64px;
  width: 64px;
  background-size: 36px;
  cursor: pointer;
  padding: 1rem;
}

.video-overlay .play-icon:hover {
  cursor: pointer;
}

.video-overlay .text-2 {
  font-size: 1rem;
}

.hide {
  display: none;
}
