.contact {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbfd;
}

@media (min-width: 768px) {
  .contact {
    padding: 32px 64px;
  }
}

@media (min-width: 992px) {
  .contact {
    padding: 64px 128px;
  }
}

.titleWrapper {
  text-align: center;
}

.title {
  margin-bottom: 16px;
  color: #463853;
  font-size: 1.4rem;
}

.subtitle {
  color: #998da0;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 16px;
}

.button {
  border: 0;
  padding: 12px 24px;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.primaryButton {
  composes: button;
  background-color: #8e51c7;
  margin-bottom: 6px;
  font-size: 1.2rem;
}
