.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.header .nav .logo {
  height: 24px;
  width: 24px;
  margin-right: 6px;
}

.header .nav .link {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav .link .bold {
  color: rgba(0, 0, 0, 1);
}
