.footer {
  background-color: #fff;
  padding: 2rem 0;
}

.footer-content {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 576px) {
  .footer-content {
    padding: 2rem;
  }
}

@media (min-width: 900px) {
  .footer-content {
    max-width: 900px;
  }
}

.footer .footer-content .no-waiting {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
}

.footer .footer-content .h3 {
  margin: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.footer .footer-content .p {
  margin: 0;
}

.footer .footer-content .get-updates {
  margin-bottom: 6rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
}

.footer .footer-content .share {
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}

.footer .footer-content .icons {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.footer .footer-content .legal {
  margin-bottom: 4rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.footer .footer-content .legal .dash {
  width: 128px;
  height: 2px;
  margin: 0 1rem;
  background-color: #dadada;
  display: none;
  vertical-align: middle;
}

@media (min-width: 576px) {
  .footer .footer-content .legal .dash {
    display: inline-block;
  }
}
